<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./images/logo-porte.png" class="logo" alt="">
        <div class="places">
          <div class="name"><span class="bullet"></span> Platina 200</div>
          <div class="name selected"><span class="bullet"></span> Hotel</div>
          <div class="name"><span class="bullet"></span> Corporativo</div>
          <div class="name"><span class="bullet"></span> Lojas</div>
          <div class="name"><span class="bullet"></span> Comercial</div>
          <div class="name"><span class="bullet"></span> Residencial</div>
        </div>
      </div>
      <div class="col-md-5">
        <br />
        <br />
        <br />
        <br />
        <img src="./images/platina.png" class="platinaLogo" alt="">
        <div class="content">
          <h1 class="title">
            O hotel na Capital <br/>mais próximo do Aeroporto <br/>Internacional de Guarulhos.
          </h1>
          <div class="pubDivisor"></div>
          <div class="text">
            Suítes para investir no coração do Eixo
            de desenvolvimento da Região Leste.
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>
