<footer>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <div class="title">
                Sobre a Porte
              </div>
              <div class="divisor">-</div>
              <div class="content">
                <a href="#" class="item">A Porte</a>
                <a href="#" class="item">Eixo Platina</a>
                <a href="#" class="item">Empreendimentos</a>
                <a href="#" class="item">Prêmios</a>
                <a href="#" class="item">Built to Suit</a>
                <a href="#" class="item">Urbanismo</a>
                <a href="#" class="item">Diferenciais</a>
                <a href="#" class="item">Imprensa</a>
                <a href="#" class="item">Política de Uso</a>
                <a href="#" class="item">Política de Qualidade</a>
                <a href="#" class="item">Política de Privacidade</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="title">
                Fale com a Porte
              </div>
              <div class="divisor">-</div>
              <div class="content">
                <a href="#" class="item">Entre em Contato</a>
                <a href="#" class="item">Seja um Corretor</a>
                <a href="#" class="item">Fale com o Corretor</a>
                <a href="#" class="item">Oferta de Área</a>
              </div>
              <br />
              <br />
              <div class="title">
                Outros
              </div>
              <div class="divisor">-</div>
              <div class="content">
                <a href="#" class="item">Espaço do corretor</a>
                <a href="#" class="item">Meu porte</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="title">
                Redes Sociais
              </div>
              <div class="divisor">-</div>
              <div>FB</div>
              <div>INSTA</div>
              <div>Google</div>
              <div>YouTube</div>
              <div>Linkedin</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="copyright">
        © PORTE Engenharia e Urbanismo. Todos os direitos reservados.
      </div>
    </div>
  </div>
</footer>
