<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 darkRed topCorner">
        <div class="darkRed completeLeft"></div>
        <div class="faq-text">
          ENTRE EM CONTATO CONOSCO:
        </div>
      </div>
      <div class="col-md-8 red">
        <div class="row center-md middle-md contact">
          <div class="col-md-4">
            <div class="whats">
              <div class="whatsNumber">
                <img src="./images/whats-ic.svg" class="whats-ic" alt="" />(11) 9.9905.4045
              </div>
              <div class="whatsSub">(das 9h às 19h)</div>
            </div>
          </div>
          <div class="col-md-4 red">
            <div class="phone">
              <img src="./images/phone-ic.svg" class="phone-ic" alt="" />(11) 2227.8043
            </div>
          </div>
          <div class="col-md-4 red topCorner">
            <div class="email">
              <a href="mailto:" class="mail">
                <img src="./images/chat-ic.svg" class="chat-ic" alt="" />
                Fale via e-mail
              </a>
            </div>
            <div class="completeRight red"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
