$darkRed: #e02a31;
$red: #f02f36;

body {
 margin: 0;
 overflow-x: hidden;
}

.container {
  width: 1000px;
  display: block;
  margin: 0 auto;
}

.darkRed {
  background-color: $darkRed;
}

.red {
  background-color: $red;
}

header {
  .faq-text { 
    padding: 20px 0;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
  }

  .completeLeft {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: -1;
    left: -210px;
  }

  .completeRight {
    position: absolute;
    top: 0;
    bottom: -10px;
    width: 300px;
    z-index: -1;
    right: -210px;
  }

  .topCorner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .whats {
    text-align: right;
    position: relative;
    bottom: -.6em;
  }
  .contact {
    color: rgb(255, 255, 255);
    height: 100%;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .whatsNumber {
    font-size: 1em;
  }

  .whatsSub {
    font-size: 0.9em;
    font-weight: normal;
  }

  .mail {
    text-align: left;
    color: #ffffff;
  }

  .whats-ic {
    height: 16px;
    width: 16px;
    padding-right: 8px;
    position: relative;
    bottom: -3px;
  }

  .phone-ic {
    height: 17px;
    width: 13px;
    padding-right: 8px;
    position: relative;
    bottom: -3px;
  }

  .chat-ic {
    padding-right: 8px;
    position: relative;
    bottom: -3px;
    width: 17px;
    height: 17px;
  }
}

footer {
  background-color: #000;
  color: rgb(255, 255, 255);

  .wrapper {
    padding: 60px 0 70px;
    text-transform: uppercase;
  }

  .divisor {
    color: rgb(229, 0, 0);
    padding: 15px 0 10px;
  }

  .title {
    font-weight: bold;
  }

  .item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    line-height: 2em;
  }
  
  .copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #232323;
  }

}
